---
layout: single
title: 'What Can I Dev For My Country'
date: 2009-02-25 18:00 -04:00
tags: sunlight-foundation, gov20
---
<div class="articleBody clearfix">
	<p>A little while ago I ran across <a href="http://web.archive.org/web/20090226004533/http://technosailor.com/2009/02/21/ask-not-what-your-country-can-dev-for-you/">this post</a> from <a href="http://twitter.com/corbett3000">@corbett3000</a> about the need for greater civic involvement from the tech community. This was a call to "build stuff that matters” to help the country do more with less, keep our leaders honest, their governance transparent, and plainly put—to fix crap that’s broken.</p>
	<p>Maybe it was a kernel of hope tucked away somewhere in my brain from recently seeing Obama get elected, maybe it was some residual sense of community from a week just spent at <a href="http://dc2009.drupalcon.org/">Drupalcon</a>, maybe I just need some sleep—either way, this post was speaking to me.</p>
	<p>So, surprisingly freed from the overbearing cynicism so typical of my generation, I spent some time playing around with this <a href="http://services.sunlightlabs.com/api/">API</a> made available from the <a href="http://sunlightfoundation.com/">Sunlight Foundation</a>. The Congress API provides access to all sorts of cool data sources, from Census Boundary Files, to FEC Disclosures, to Senate Office Public Records, and more. I can’t say I’ve actually produced anything that would be of any real use to anybody at this point, but I am starting to get some ideas.</p>
	<p>I also registered for the upcoming <a href="http://barcamp.org/eDemocracyCamp2">eDemocracy Camp</a> going on here in DC this April. This whole optimism and participation thing feels a bit weird after 8 years of cynical obstinate opposition, but I think I could get used to it. If you’re a techie in the DC area and are going to be at the eDemocracy camp I’ll see you there, if not, maybe you should be asking yourself: What can I develop for my country?</p>
	<p><strong>Update:</strong> I eventually got around to <a href="https://github.com/BryanSchuetz/mobilizer-testing">building something</a> with this API, a mobile optimized web app built with Ruby and Rack for soliciting public outreach to Capitol Hill.</p>
</div>


