---
layout: single
title: 'Pimp Your Quicklook'
date: 2009-02-10 18:00 -04:00
tags: os x, hacks
---
<div class="articleBody clearfix">
	  <p>I’m lucky enough to be able to work on an OS X system at my day job but officially it’s a “Microsoft shop” with most people on Windows and our intranet powered by <a href="http://www.microsoft.com/Sharepoint/default.mspx">SharePoint</a>. We store a lot of documents on SharePoint and it’s always a pain in the ass to have to fire up mac office to have a quick look at a .doc or .xls file. To make matters worse there are a lot of Office 2007 files that my version of mac office won’t open.</p>
	<p>The solution? Force all these annoying office files to open in Quick Look. This handy little <a href="http://www.apple.com/applescript/quickviewer/index.html">Quick Look Droplet</a> from Apple does the trick. Just download the droplet and tweak your browser settings to use the droplet as the default application for those files.</p>
	<p>Now, whenever I need to pop open a file from SharePoint to quickly check something, one click and the document is open in the slick Quick Look interface. And my Mac Office applications stay closed and tucked away somewhere, out of site out of mind.</p>
	<p>While your at it why not put Quick Look to work on other “stuff” by adding <a href="http://www.qlplugins.com/">some new plugins</a>. Just add the .qlgenerator file into your /Library/QuickLook directory and Quick Look will do the rest. I just took a spin through the galleries and pulled out a couple that I like:
	</p>
	<ul class="contentul"><li><a href="http://code.google.com/p/qlcolorcode/downloads/list">Markup</a></li>
		<li><a href="http://brushviewer.sourceforge.net/">Photoshop Brushes</a></li>
		<li><a href="http://homepage.mac.com/xdd/software/folder/">Folders</a></li>
		<li><a href="http://macitbetter.com/BetterZip-Quick-Look-Generator">Zip Files</a></li>
	</ul>
</div>


