---
layout: single
title: 'Acceleration Curves'
date: 2009-02-11 18:00 -04:00
tags: os x, hacks
---
<div class="articleBody clearfix">
  	<p>I love OS X. It’s far and away the best operating system I’ve ever used.  There are a couple things about it though that have always been a frustration for me. Chief among them is the way movement of the mouse on your desk is translated to movement of the cursor on your screen a process handled by something called the “Acceleration Curve”.</p>
	<p>What this curve essentially does is multiply the velocity of the cursor on the screen relative to the velocity of the mouse on the desk. As the movement of the mouse increases the ratio used to calculate the movement of the cursor increases with it. This gives the user more precision when moving the mouse slowly to carry out detailed work and more speed when hauling ass across a 24 inch monitor.</p>
	<p>The curve that OS X uses to handle all this stuff has never felt right to me, moving slow feels too slow and moving fast feels too fast. The net result is a beautiful OS ruined by a crappy input experience, I’m certainly <a href="http://letmegooglethatforyou.com/?q=os+x+acceleration+curve">not the only one</a>  who feels this way.  In contrast to the crappy mousing in OS X the curve on windows machines feels fantastically natural and responsive, and I hate windows. You see my problem.</p>
	<p>As you probably know, you can control the “Tracking Speed” in OS X within the Keyboard &amp; Mouse preference pane but all this does is control what is essentially the “top speed” of the cursor. If you want to actually change the shape of the acceleration curve you will have to dig a little deeper.</p>
	<p>There is this <a href="http://www.knockknock.org.uk/mac/">free solution</a> which is a “simple command line program” that lets you substitute the default curve values for your own.  It works well enough and someone has even made a slightly <a href="http://lavacat.com/iMouseFix/">more user friendly version</a> of it as well but the problem is that once you power off, your changes to the curve are lost so you will need to run the program every time you start up.</p>
	<p>A more expensive solution, and the one I chose, was to purchase this <a href="http://us.kensington.com/html/2200.html">Kensington Expert Mouse</a> which comes with it’s own drivers which give you more control over the shape of your curve.  I’ve been using this mouse (OK, I know it’s a trackball but you understand what I’m saying) for almost six months now and I have to say it is without a doubt the best mouse I’v ever owned.</p>
	<p>Four big buttons (right/left click, expose, spaces) a nice large and very accurate trackball surrounded by a nicely implemented circular scroll wheel. Add that hardware to the drivers that let me choose an acceleration curve that suits me and OS X is beautiful again. It is so choice.  If you have the means, I highly recommend picking one up.</p>
</div>


