---
layout: single
title: 'Verified Reporters'
date: 2009-06-20 18:00 -04:00
tags: interwebz
---
<div class="articleBody clearfix">
	 <p>I spent some time last night tracking the events unfolding in Iran following the apparent re-election of President Mahmoud Ahmadinejad. Unless you’ve been living under a rock for the last 48 hours you know that there appears to be widespread doubt about the legitimacy of the election results and that supporters of Ahmadinejad’s chief opponent Mir Hussein Moussavi have been openly clashing with the government in protests across the country.</p>
	<p>These events sure seem to have the potential to be part of an historic turning point for the country. What struck me most though was how all this “news” was flowing out of the country, very little was making it’s way up to mainstream media. In the defense of established news organizations I’ll say that most of what was being circulated around on networks like Twitter and YouTube would be more appropriately labeled as “rumor” rather than “news” which is why they weren’t repeating it. From a news consumer point of view though having access to all these updates in real-time also felt like some kind of a turning point.</p>
	<p>One very compelling stream coming from a user known as <a href="http://twitter.com/Change_for_Iran">@change_for_iran</a> who at last check had their follower count grow from 90 to 4,725 over the course of the night tweeted away through protests and tear gas attacks.</p>
	Lots of others were also updating live: </p>
	<ul><li><a href="http://twitter.com/alirezasha" rel="nofollow"></a><a href="http://twitter.com/alirezasha">http://twitter.com/alirezasha</a></li>
	<li><a href="http://twitter.com/Change_for_Iran" style="color: rgb(1, 121, 165); "></a><a href="http://twitter.com/change_for_iran">http://twitter.com/change_for_iran</a></li>
	<li><a href="http://twitter.com/cnnsaeed"></a><a href="http://twitter.com/cnnsaeed">http://twitter.com/cnnsaeed</a></li>
	<li><a href="http://twitter.com/Gita" rel="nofollow"></a><a href="http://twitter.com/Gita">http://twitter.com/Gita</a></li>
	<li><a href="http://twitter.com/iran09" rel="nofollow"></a><a href="http://twitter.com/iran09">http://twitter.com/iran09</a></li>
	<li><a href="http://twitter.com/iranbaan" rel="nofollow"></a><a href="http://twitter.com/iranbaan">http://twitter.com/iranbaan</a></li>
	<li><a href="http://twitter.com/IranNewsNow"></a><a href="http://twitter.com/irannewsnow">http://twitter.com/irannewsnow</a></li>
	<li><a href="http://twitter.com/IranRiggedElect" rel="nofollow"></a><a href="http://twitter.com/IranRiggedElect">http://twitter.com/IranRiggedElect</a></li>
	<li><a href="http://twitter.com/mahdi" rel="nofollow"></a><a href="http://twitter.com/mahdi">http://twitter.com/mahdi</a></li>
	<li><a href="http://twitter.com/mohamadreza" rel="nofollow"></a><a href="http://twitter.com/mohamadreza">http://twitter.com/mohamadreza</a></li>
	<li><a href="http://twitter.com/mousavi1388" rel="nofollow"></a><a href="http://twitter.com/mousavi1388">http://twitter.com/mousavi1388</a></li>
	<li><a href="http://twitter.com/Mynumberone1988" rel="nofollow"></a><a href="http://twitter.com/Mynumberone1988">http://twitter.com/Mynumberone1988</a></li>
	<li><a href="http://twitter.com/octavianasrCNN"></a><a href="http://twitter.com/octavianasrCNN">http://twitter.com/octavianasrCNN</a></li>
	<li><a href="http://twitter.com/Shahrzadmo" rel="nofollow"></a><a href="http://twitter.com/Shahrzadmo">http://twitter.com/Shahrzadmo</a></li>
	<li><a href="http://twitter.com/smileofcrash" rel="nofollow"></a><a href="http://twitter.com/smileofcrash">http://twitter.com/smileofcrash</a></li>
	<li><a href="http://twitter.com/StopAhmadi" rel="nofollow"></a><a href="http://twitter.com/StopAhmadi">http://twitter.com/StopAhmadi</a></li>
	<li><a href="http://twitter.com/tehranelection" rel="nofollow"></a><a href="http://twitter.com/tehranelection">http://twitter.com/tehranelection</a></li>
	<li><a href="http://twitter.com/TwitPersia" rel="nofollow"></a><a href="http://twitter.com/TwitPersia">http://twitter.com/TwitPersia</a></li>
	</ul><p>Obviously, the real question here is whether or not any of these users are actually where they say they are and can their reports be trusted. I’d like to think that most of them are reliable but who really knows. </p>
	<p>This got me thinking about twitter and verified accounts. What if, instead of spending resources ensuring that /tonylarusa was in fact Tony Larusa, Twitter could instead develop a system/process whereby users on the ground in the middle of quickly evolving and important events like #iranelection could have their identity to some degree “verified”.  </p>
</div>


