---
layout: single
title: 'Shenandoah'
date: 2009-09-15 18:00 -04:00
tags: on-the-trail, shenandoah
---
<div class="articleBody clearfix">
	<p>I spent last weekend hiking around in <a href="http://www.nps.gov/shen/index.htm" style="color: rgb(1, 121, 165); "> Shenandoah National Park </a> and despite having not been hiking for  a long time had an absolute blast. The park runs roughly north south for over 100 miles along the spine of the Blue Ridge Mountains and encompasses nearly 200,000 acres 80,000 of which are protected as wilderness areas under the <a href="http://en.wikipedia.org/wiki/National_Wilderness_Preservation_System">National Wilderness Preservation System</a>. Skyline drive runs the length of the park and cuts essentially right down the middle offering an abundance of scenic overlooks filled with hollows and ridges covered in timber. There’s lots of wildlife to be seen and while hiking a 12 mile loop in the largest of the parks wilderness areas I spotted a skunk, 2 grouse, a turkey and a black bear along the trail.</p>
	<%= image_tag '/images/posts/shenandoah.jpg' %>
	<p>When I was a small child my family vacationed at a few national parks including the Badlands and Mount Rushmore but I was very young at the time and don’t really remember any specifics from those treks. As such, this was essentially my first time in a national park and I have to say I was impressed. Everything is very well maintained and the wilderness areas seem completely pristine. When I was in college we used to go backpacking at Green Ridge and Savage River quite a lot and while those state forests are nice enough there’s something special about a national park. It’s hard to describe but you just get the feeling everywhere you look like there is some extra care and attention going into the beautiful views, trails, programs and facilities.</p>
	<p>With lots of new (to me) trails to be hiked in Shenandoah I anticipate going back soon. I think I’ll also have to try to make it out to some of the other national parks, especially out West. I tend to forget how much natural beauty is available right here in the U.S. and plan to take more advantage of it.</p>
</div>


