---
layout: single
title: 'AppleBlog Roundup 2'
date: 2009-08-10 18:00 -04:00
tags: apple
---
<div class="articleBody clearfix">
	 <p>Over the last couple of weeks I’ve written a few articles over at <a href="http://theappleblog.com/author/bryanschuetz/" style="color: rgb(1, 121, 165); ">TheAppleBlog</a> and wanted to include a roundup post to them all here for the sake of completeness:</p>
	<p><a href="http://theappleblog.com/2009/06/30/fairmount-convert-your-dvd-collection/">Convert Your DVD Collection with Fairmount:</a> We’ve all had situations where we’ve needed to exercise our fair use rights and make perfectly legal copies of our own righteously purchased DVDs and Fairmount is here to make that task easier for you. Alternatively, if you just want to rip a copy of every movie that shows up in your mailbox from Netflix, it will help you do that as well. Just throw in a DVD and Fairmount will decrypt and mount the disk image, no fuss no muss.</p>
	<p><a href="http://theappleblog.com/2009/07/29/workaround-itunes-video-and-dual-screens/">iTunes + Dual Monitors = Failsauce</a> I never understood why iTunes doesn’t support full screen playback for dual monitor setups. Maybe they’re trying to push users towards the AppleTV? Either way here’s a workaround that will let you go full screen on one monitor while continuing to have access to the other.</p>
	<p><a href="http://theappleblog.com/2009/08/03/iphonetography-yeah-theres-an-app-for-that/">iPhonetography, Yeah There’s Over 1000 Apps for That:</a> The new 3GS has been a boon to budding phonetographers. With it’s touch to focus/expose and the metric ton of apps/filters/editors available for it in the App store it’s no wonder it’s fast becoming the most popular camera on Flickr. </p>
	<p><a href="http://theappleblog.com/2009/08/06/how-to-full-screen-browsing-and-forced-tabs-with-safari/">Full Screen Browsing with Safari:</a> With Safari 4 browsing the web has never been better. When you’re on the laptop though, space is at a premium so here are a couple under the hood tweaks you can make to enable full screen browsing by hiding the Dock and Menubar and adding zoom buttons.</p>
	<p><a href="http://theappleblog.com/2009/08/14/the-other-system-preferences/">The “Other” System Preferences:</a> I got to wondering what apps Mac enthusiasts gathered in the “Other” section of their system preferences so I asked the folks on <a href="http://superuser.com" style="color: rgb(1, 121, 165); ">SuperUser</a> about it and reported back with what I found. Have a look at the comments on this one to find a lot of great lesser known add-ons.</p>
</div>


