---
layout: single
title: 'QuickPukka'
date: 2009-02-01 18:00 -04:00
tags: os x, hacks
---
<div class="articleBody clearfix">
	  <p>With almost 100 feeds sitting in my RSS reader (<a href="http://www.newsgator.com/INDIVIDUALS/NETNEWSWIRE/">Net News Wire</a>) I’ve got a lot of information coming at me everyday.  When I see something that I know I’ll want to come back to later I save it as a bookmark on the social bookmarking service <a href="http://delicious.com/" style="color: rgb(1, 121, 165); ">delicious</a>.  I also use this service to push links to my blog (see the sidebar to the right).  To make the process of adding bookmarks a bit easier I’ve been using a mix of <a href="http://docs.blacktree.com/quicksilver/what_is_quicksilver">Quicksilver</a>, <a href="http://codesorcery.net/pukka">Pukka</a> and <a href="http://www.apple.com/applescript/">Apple Script</a>.  </p>
	<p><a href="http://vimeo.com/3129832?pg=embed&amp;sec=3129832&amp;hd=1" style="color: rgb(1, 121, 165); ">I put together a quick demo of how it all works</a>.</p>
	<p>As you can see this setup makes it super easy to add, browse, and open your bookmarks.  I’ve done this so often it’s become second nature and it’s absolutely key to the way I access information online.</p>
</div>


