---
layout: single
title: 'All Things Apple'
date: 2009-05-20 18:00 -04:00
tags: apple
---
<div class="articleBody clearfix">
	  <p>So I’ve decided to go ahead and throw in my lot with the good folks over at TheAppleBlog when it comes to my rants and reviews about all things Apple, OS X and the like. You’ll be able to see the articles I contribute over there by going to my <a href="http://theappleblog.com/author/bryanschuetz/">Author Archive Page</a> or better yet by grabbing the <a href="http://feeds.feedburner.com/theappleblog"> RSS Feed</a> for the whole site. My first post on Proximity Automation (using Bluetooth and AppleScript to automatically fire off actions based on your proximity to the computer) is already available.</p>
	<p>They’re a good bunch of folks over there at the AppleBlog and I’ve been enjoying the articles on their site for quite a long time. It was the first place that really got me into using <a href="http://theappleblog.com/quicksilver-the-guide/" style="color: rgb(1, 121, 165); ">Quicksilver</a> which needless to say totally changed how I use my Mac, so I’m really happy to be joining the team. I’ll still be writing here about other various and sundry things and do plan to pick up the pace now that I have some more free time available for writing.</p>
</div>


