---
layout: single
title: 'AppleBlog Roundup 1'
date: 2009-06-05 18:00 -04:00
tags: apple
---
<div class="articleBody clearfix">
	 <p>Over the last couple of weeks I’ve written a few articles over at <a href="http://theappleblog.com/author/bryanschuetz/">TheAppleBlog</a> and wanted to include a roundup post to them all here for the sake of completeness:</p>
	<p><a href="http://theappleblog.com/2009/06/23/nambu-solves-twitter-clutter/">Nambu Review:</a> A quick review of the native OS X twitter client Nambu.  I like Nambu a lot and it’s got a lot of power built into it. If they ever manage to include FriendFeed support I’d be sold but at the moment I have to admit I’m stuck on <a href="http://www.atebits.com/tweetie-mac/">Tweetie</a>.</p>
	<p><a href="http://theappleblog.com/2009/06/22/iphone-3g-s-enable-tethering/">Enable Tethering on the iPhone 3GS:</a> I just got a shiny new iPhone 3GS and I’m loving it. I moved up from one of the original 1st generation iPhones and it’s a huge improvement. One of the first things I did was to workaround the default AT&amp;T block to tethering and MMS, it’s remarkably easy.</p><p><a href="http://theappleblog.com/2009/06/11/how-to-proximity-automation/">Proximity Automation:</a> Proximity is a cool free application that monitors your BlueTooth device and fires off AppleScripts as it moves in and out of range. I whipped up a couple of scripts to pause iTunes, set your away message in Adium and lock your screen just by getting up and walking away. And of course it reverses all that once you get back.</p>
</div>


