---
layout: single
title: 'Spring'
date: 2010-3-01 18:00 -04:00
tags: photography
---
<div class="articleBody clearfix">
	<%= image_tag '/images/posts/spring.jpg' %>
	READMORE
	<p>Holy Shit! It’s Mother Fucking Spring …bitches. Seriously, I’m so happy the snow is gone, can’t wait to get out and do some backpacking.</p>
</div>


