---
layout: single
title: 'Heart Sutra'
date: 2010-7-01 18:00 -04:00
tags: buddhisim
---
<div class="articleBody clearfix">
	 <p>I’ve been thinking on the Buddhist Heart Sutra quite a bit lately. If you’re not familiar with the specific aspects of Buddhist philosophy represented in this particular sutra I’ll give you the cliff notes.</p>
	 <blockquote>All things are empty: Nothing is born, nothing dies, nothing is pure, nothing is stained, nothing increases and nothing decreases.</blockquote>
	 <%= image_tag '/images/posts/heartsutra.jpg' %>
	 <p>It’s essentially all about the notion that everything around us (objects, phenomena, people) actually exists without any inherent substantiality. Instead their nature is derived from this interconnected web of perception and experience; nothing stands apart and nothing stands forever. At least that’s what I think it means, but what the fuck do I know.</p>
	 READMORE
	 <p>This one bends my head every time I try to really conceptualize it. Just when I think I’m there, I’ll breath, and the whole framework slips away.</p>
	 <blockquote>There is no ignorance, and no end to ignorance. There is no old age and death, and no end to old age and death. There is no suffering, no cause of suffering, no end to suffering, no path to follow. There is no attainment of wisdom, and no wisdom to attain.</blockquote>
	 <p>Still, it’s a nice thought. <strong>That everything we need to be happy, we already have, because we don’t really need anything, except each other.</strong></p>
</div>


