---
layout: single
title: 'Everything Ends'
date: 2010-6-20 18:00 -04:00
tags: buddhisim, photography
---
<div class="articleBody clearfix">
	 <%= image_tag '/images/posts/everythingends.jpg' %>
	 READMORE
	 <P>When I realized that my last few PhoneTography posts were all full of clouds, spring, and flowers I figured I better balance things out a bit. So here’s a picked over deer carcass I happened on recently during a bit of a walk. Everything ends.</P>
</div>


