---
layout: single
title: 'Clouds'
date: 2010-6-10 18:00 -04:00
tags: photography
---
<div class="articleBody clearfix">
	<%= image_tag '/images/posts/clouds.jpg' %>
	READMORE
	<p>There’s not much that brings a smile to my face with greater ease than just staring at cool looking clouds. Maybe it’s a fundamental appeal to my lazy aspect, maybe it’s a spiritual connection to the true nature of things, who knows. Either way, snapping this after a near miss with an imposing thunderstorm was worth a few smiles.</p>
</div>


