---
layout: single
title: 'A Quick Walk'
date: 2010-7-15 18:00 -04:00
tags: on-the-trail
---
<div class="articleBody clearfix">
	<p>I got out for a quick walk the other day, partly to check out a new trail I found recently and partly to test out the camera in my new phone (iPhone 4). The trail is only about 5 minutes away from my place, so it’s not exactly out in the middle of the wilderness. Being right next door though and only like 4 miles long makes it a great option when the mood strikes in the middle of the day. There’s also a ton of cutoff trails leading to the edges of the park so there’s lots of opportunities to explore.</p>
	<%= image_tag '/images/posts/walkseneca.jpg' %>
	READMORE
	<p>As far as the camera goes, I like it quite a bit. I’ve always been a big fan of the iPhone cameras, especially since the 3gs came out with the tap to focus/white balance feature. The latest iteration continues the progression by upping the MP count, adding a flash, and enabling HD video.</p>
	<%= image_tag '/images/posts/walktrail.jpg' %>
	<p>On the whole it seems to be a great camera, though it does break down a bit on really bright highlights. What do I know though, I’m just a jackass with a phone.</p>

</div>


