---
layout: single
title: 'AppleBlog Roundup 4'
date: 2010-08-05 18:00 -04:00
tags: apple, photography
---
<div class="articleBody clearfix">
		 <p>Well, another couple weeks have gone by and it’s time for another roundup of recent articles I’ve written over at <a href="http://theappleblog.com">TheAppleBlog</a>. Maybe one of these days I’ll figure out a better way to bring all my content together but until then here’s roundup number four.</p>
	<p>
		<a href="http://theappleblog.com/2010/08/16/how-to-iphone-hdr/">iPhone HDR:</a> I played around with some HDR apps for the iPhone and tried out the new HDR Pro tools in photoshop CS5. In the final analysis, the iPhone camera is just a 5 megapixel cameraphone and it’s never gonna produce the kind of photos one can get with a DSLR. Never the less, constraints are good for creativity and the iPhone is still my favorite camera to have with me on a hike.
	</p>
	READMORE
	<p>
		<a href="http://theappleblog.com/2010/07/27/apple-battery-charger/">Apple’s New Battery Charger:</a> Yeah, it’s a charger.
	</p>
	<p>
		<a href="http://theappleblog.com/2010/07/27/apple-introduces-new-magic-trackpad/">Apple’s new Magic Trackpad:</a> See above. Seriously though, I don’t see this being a feasible option for me. It may be great for some and a lot of people seem to think it’s the new controller for iTV, but I’m a doubter. One thing’s for sure it will never be better than <a href="http://distresssignal.org/post/647491701/acceleration-curves">the greatest mouse ever made</a>.
	</p>
	<p>
		<a href="http://theappleblog.com/2010/07/23/is-jailbreaking-still-worth-it/">Is Jailbreaking Still Worth It?:</a> Before the new jailbreak dropped I took a look at a few of the better applications available out there for jailbroken iPhones. My conclusion was that yes, it is still worth it. When jailbreakme became available I hopped right on the bandwagon ..and then restored to factory fresh a couple days later. What was the problem? I forgot just how buggy all these non approved apps tend to be. I may miss out on some functionality but at least everything works like it’s supposed to.
	</p>
	<p>
		<a href="http://theappleblog.com/2010/07/15/ios-4-0-1-available-now/">iOS 4.0.1 Drops, the antenna is still fucked:</a> Early on I had high hopes that the whole antenna thing was just the result of some software glitch with how the phone was choosing signals. Eventually it became obvious that attenuation and detuning as the result of the external antenna were the real culprits. The reporting that <a href="http://www.anandtech.com/show/3794/the-iphone-4-review/2">AnnandTech</a> did in the midst of all of this has to be one of the shining examples of serious online journalism at work. Really, it makes me feel a bit embarrassed looking at it next to the crap I’m writing.
	</p>
	<p>
		<a href="http://theappleblog.com/2010/06/22/curate-your-own-podcast-with-huffduffer/">Huffduffer:</a> I can’t say enough good things about <a href="http://hufduffer.com">hufduffer</a>. It’s ostensibly a service that lets you tag audio files you find online and then publish them via RSS for subscription in iTunes. It’s killer value though, are all the people constantly finding seriously cool and unusual audio content. This thing totally changed my morning commute.
	</p>
</div>


