---
layout: single
title: 'Trail Photography & iPhone'
date: 2010-8-04 18:00 -04:00
tags: shenandoah, on-the-trail, photography
---
<div class="articleBody clearfix">
	 <%= image_tag '/images/posts/marshallhawk.jpg' %>
	 READMORE
	 <p>It doesn’t take much range to blow out highlights or shadows on the iPhone and scenes like this spot where I stopped for lunch on Marshall Mountain yesterday can be hard to capture. So, I resorted to some HDR which trends slightly more surreal than photorealistic but it captures the mood. At least touch to expose makes setting up for processing easy.</p>
</div>


