---
layout: single
title: 'Knob Mountain'
date: 2010-5-05 18:00 -04:00
tags: on-the-trail, photography
---
<div class="articleBody clearfix">
	<%= image_tag '/images/posts/knobnight.jpg' %>
	READMORE
	<p>A couple weeks ago I managed to sneak away for a 24 hour loop hike that had me spending the night up on this hill (Knob Mountain) in the Northern section of Shenandoah. Really need to get back there.</p>
</div>


