---
layout: single
title: 'A New Home'
date: 2010-5-20 18:00 -04:00
tags: web-devleopment
---
<div class="articleBody clearfix">
	<p>I’ve been meaning to dig into <a href="http://tumblr.com">Tumblr</a> themes for a while now, but I’m a total slacker so the notion’s never progressed beyond a to do item in my next pile, until now. This weekend I decided to dedicate some time to figuring out how it all worked and at least getting the shell of something I like together. After working through the process from scratch I have to say, I like it quite a bit. As far as theming goes I’d be hard pressed to imagine an approach that provides more ease and flexibility than the one the Tumblr folks have come up with. After reading through their <a href="http://www.tumblr.com/docs/en/api">API</a> and crystal balling future plans, I’m also really impressed with the service as a whole. So much so that I think I’ll stay. I’ve been on my own WordPress install for quite a while now and to be honest I think it’s just overkill for me. Especially when you consider how infrequently I post.</p>
	READMORE
	<p>Of course, it’s not all roses. Not having direct FTP access for uploading my template is a bit of a pain in the ass. I’m used to working live and being able to immediately see changes with a quick save. Moving my CSS to another server made it a bit easier but any changes to the template markup still had to go through the customize page on my Tumblr dashboard. Unless there’s something I’m missing there’s no way around that.</p>
	<p>Setting aside those small annoyances, I think overall it’s a really great platform. And, I can only see it getting better from here. Now to start making another theme.</p>
</div>


