---
layout: single
title: 'Sunset In Shenandoah'
date: 2010-09-10 18:00 -04:00
tags: shenandoah, on-the-trail
---
<div class="articleBody clearfix">
	 <%= image_tag '/images/posts/sunset.jpg' %>
	 READMORE
	 <p>I managed to catch this excellent sunset the last time I was in Shenandoah. I snapped this about 5 feet in front of where I pitched my shelter for the night.</p>
</div>


