---
layout: single
title: 'Final Codex'
date: 2010-6-05 18:00 -04:00
tags: web-devleopment
---
<div class="articleBody clearfix">
	<p>I wrote this plug-in for Google’s <a href="http://code.google.com/p/qsb-mac/">Quick Search Box</a> a <a href="http://theappleblog.com/2009/12/31/how-to-replicating-codas-books-feature-with-google-quick-search-box/">while back</a> to replicate a bit of functionality from <a href="http://www.panic.com/coda/">Coda</a> that I lost when I moved over to <a href="http://macrabbit.com/espresso/">Espresso</a>. The gist of the plug-in is that it lets you quickly send search queries to documentation sources for things like HTML, CSS, jQery, Python, MySQL, and so on. I do a lot of these kinds of quick looks into documentation as I’m working so having a quick and easy method for it is helpful.</p>
	<%= image_tag '/images/posts/codex.jpg' %>
	READMORE
	<p>Even though I’ve now given up on QSB and instead moved over to <a href="http://www.obdev.at/products/launchbar/index.html">LaunchBar</a>, for reasons not really worth going into here, I’ve gone ahead and rebuilt this plug-in for use in the new release of QSB. For the less than four people who’ve actually downloaded it and use it <a href="http://signalbase.org/tumblr/downloads/codexplugin.zip">here</a> is the latest/last build. I’m also <a href="http://signalbase.org/tumblr/downloads/codexproject.zip">linking up</a> the x-code project for the plug-in just in case anyone is interested in adding support for other languages or re-building it when QSB breaks it again.</p>
</div>


