---
layout: single
title: 'Quicksilver'
date: 2012-06-20 18:00 -04:00
tags: books
---
<div class="articleBody clearfix">
	 <blockquote>To be a European Christian (the rest of the world might be forgiven for thinking) was to build ships and sail them to any and all coasts not already a-bristle with cannons, make landfall at river’s mouth, kiss the dirt, plant a cross for a flag, scare the hell out of any indigenes with a musketry demo’, and - having come so far, and suffered and risked so much - unpack a shallow basin and scoop up some muck from the river-bottom.</blockquote>
	 <p>Yeah, pretty much my most favorite <a href="http://books.google.com/books?id=tlFPKOTPB_YC&pg=PT70&dq=to+be+a+european+christian+quicksilver&hl=en&ei=D4KHTPbvOofa9ATToqDhDg&sa=X&oi=book_result&ct=result&resnum=1&ved=0CDUQ6AEwAA#v=onepage&q&f=false">Book</a>. Ever.</p>
</div>


