---
layout: single
title: 'Winter Crow Roosts'
date: 2013-03-09 18:00 -04:00
tags: crows
---
<div class="articleBody clearfix">
	<p>It’s March, and the arrival of Springtime means the end of the large crow roosts. I’d never known about crow roosts before I moved into my current apartment, but apparently during the Winter crows gather in large numbers in the evening hours and then fly off to spend the whole night gathered together in one spot as a <a href="http://en.wikipedia.org/wiki/Communal_roosting">roost</a>. Roosts can range in size from a hundered crows to hundereds or thousands of crows.</p> 
	<p><iframe src="http://player.vimeo.com/video/61431615" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></p>
	READMORE
	<p>Exactly why they do this no one seems to be sure. Maybe they’re looking for safety in numbers, a way to share information about food sources, or maybe they just want to be social. Before they fly off to roost up for the night, the crows will come together a mile or so away from the final roost to turn circles in the sky, call out, chase each other around, and fight it out.</p>
	<p>The last couple of winters this pre-roost display of bravado has been taking place right outside my building. It was pretty off-putting the first time I saw it, but pretty soon I began to really appreciate it for the great display of nature that it is.</p>
</div>


