---
layout: single
title: 'In the Middle with Middleman and Frameless'
date: 2013-04-19 18:00 -04:00
tags: web-development, ruby
---
<div class="articleBody clearfix">
	<p>I love <a href="http://middlemanapp.com/" title="http://middlemanapp.com/">Middleman</a>. It's simple, powerful, and fast. I've been playing with Rails and Rails prototyping for a while, mostly with <a href="http://get-serve.com/" title="http://get-serve.com/">Serve</a>—and with static site generators like <a href="http://octopress.org/" title="http://octopress.org/">Jekyll</a> and <a href="http://octopress.org/" title="http://octopress.org/">Octopress</a> for about just as long. I think Middleman is the best of all of them.
	</p>
	<%= image_tag '/images/posts/frameless.jpg' %>
	READMORE
	<p>Middleman is built on <a href="http://www.sinatrarb.com/" title="http://www.sinatrarb.com/">Sinatra</a>. As such, it gets to make use of all the niceties of modern web development in Ruby. Rails conventions, <a href="http://www.padrinorb.com/" title="http://www.padrinorb.com/">Padrino</a> template helpers, templating in just about anything you could want (ERB, <a href="http://haml.info/" title="http://haml.info/">HAML</a>, <a href="http://slim-lang.com/" title="http://slim-lang.com/">Slim</a>, and <a href="http://middlemanapp.com/templates/#toc_7" title="http://middlemanapp.com/templates/#toc_7">a ton more</a>, preprocessing (<a href="http://sass-lang.com/" title="http://sass-lang.com/">Sass</a>, <a href="http://coffeescript.org/" title="http://coffeescript.org/">CoffeeScript</a>, etc.), minification, concatenation, dependency management, <a href="http://livereload.com/" title="http://livereload.com/">LiveReload</a>, and so much more.
	</p>
	<p>I think hosting static sites just makes so much sense. Fast, secure, cacheable, fit for CDNs, what's not to like? I've built a couple project templates that I use here and there. Both have layout schemes based on the great <a href="http://framelessgrid.com/" title="http://framelessgrid.com/">Frameless</a> approach to adaptive grids. There's a <a href="https://github.com/BryanSchuetz/middleman-frameless" title="https://github.com/BryanSchuetz/middleman-frameless">basic site template</a>, and a <a href="https://github.com/BryanSchuetz/middleman-blog-frameless" title="https://github.com/BryanSchuetz/middleman-blog-frameless">basic blog template</a> which makes use of the blogging extension, and also powers this site.
	</p>
	<p>This is a great time to be building websites.</p>
</div>


