---
layout: single
title: 'Baltimore'
date: 2014-12-1 18:00 -04:00
tags: baltimore
---
<div class="articleBody clearfix">
<p>I lived in Baltimore for nearly 10 years and it's maybe my favorite city in America. <a href="http://en.wikipedia.org/wiki/The_Wire">The Wire</a> was in production for most of the time I was living there, and it was a common sight to see actors milling about a cluster of Haddad's trucks anywhere in the city. It is, without a doubt, one of the best TV shows ever.</p>
  <blockquote>
    Is the universe sufficiently vast to contain both the empirical fact that a Faidley’s backfin crabcake is the world’s best and that Baltimore is the fifth most dangerous city in America?
  </blockquote>
READMORE
<p>There aren't enough favorite buttons on the internet to express how much I love <a href="http://davidsimon.com/the-wire-and-baltimore/">this response</a> from the shows creator <a href="http://en.wikipedia.org/wiki/David_Simon">David Simon</a> to "critics" who claim his work puts Baltimore in an unfavorable light.</p>
</div>
