---
layout: single
title: 'National Cathedral'
date: 2015-01-25 13:00 -04:00
tags: cathedral
---
<div class="articleBody clearfix">
<%= image_tag '/images/posts/window_large.jpg' %>
READMORE
<p>It's good to see the scaffolding and netting finally coming down at the National Cathedral as damage from the <a href="http://en.wikipedia.org/wiki/2011_Virginia_earthquake">2011 Virginia earthquake</a> finally gets fixed. </p>
<%= image_tag '/images/posts/altar_large.jpg' %>
</div>
