---
layout: single
title: 'Tier'
date: 2015-02-19 13:00 -04:00
tags: culture, banks
---
<div class="articleBody clearfix">
  <p>I'm currently reading the <a href="http://en.wikipedia.org/wiki/Excession">fifth</a> book in Iain Banks' <a href="http://en.wikipedia.org/wiki/Culture_series">Culture Series</a> and I think it may be the best one yet. At least, it finally provides that in-depth view of the Culture one looks for after four books of skirting around on the periphery. Banks fills all the books with such an amazing amount of creative detail that the history, geography, and ecology of even minor civilzations jump from the page. A case in point, is this brief description of Tier:</p>
  <blockquote>
    <p>Tier was a stepped habitat; its nine levels all revolved at the same speed, but that meant that the outer tiers possessed greater apparent gravity than those nearer the centre. The levels themselves were sectioned into compartments up to hundreds of kilometres long and filled with atmospheres of different types and held at different temperatures, while a stunningly complicated and dazzlingly beautiful array of mirrors and mirrorfields situated within the staggered cone of the world's axis provided amounts of sunlight precisely timed, attenuated and where necessary altered in wavelength to mimic the conditions on a hundred different worlds for a hundred different intelligent species.
    </p>
  </blockquote>
  READMORE
  <blockquote>
    <p>This environmental diversity and the civilisational co-dependence it implied and intermingling it encouraged had been Tier's raison d'etre, the very foundation of its purpose and fame for the seven thousand years it had existed. Its original builders were, perhaps, unknown; they were believed to have Sublimed shortly after building it, leaving behind a species - or model, depending how you defined these things - of biomechanical sintricate which ran and maintained the place, were individually dull but collectively highly intelligent, took the shape of a small sphere covered with long articulated spines, were between half a metre and two metres in size and had seemed to have an intense suspicion of anything possessing less of a biological basis than they did themselves.</p>
  </blockquote>
  <p>If you want to jump into the Culture Series I think Excession could be a great place to start. While they're all part of a series, each story is fairly self contained and could really be read in any order. Most involve characters and stories that only hint at the larger schemes of the Culture. Excession on the other hand puts you directly into the Minds driving the Culture forward.</p>
</div>
