---
layout: single
title: 'Blizzard of 2016'
date: 2016-01-23 13:00 -04:00
tags: snow, photography
---
<div class="articleBody clearfix">

  <img src="<%= base_pather %>/images/posts/tree.jpg" alt="">

</div>
