---
layout: single
title: Wolf Hall
date: 2016-01-27 06:00
tags: books, history
---
<div class="articleBody clearfix">
  <blockquote>
    <p>The trouble with England, he thinks, is that it&#8217;s so poor in gesture. We shall have to develop a hand signal for ‘Back off, our prince is fucking this man&#8217;s daughter.’ He is surprised that the Italians have not done it. Though perhaps they have, and he just never caught on.</p>
  </blockquote>

<p><a href="https://www.goodreads.com/book/show/6101138-wolf-hall">So good</a>.</p>
</div>
