---
layout: single
title: Stop Wasting Time Online
date: 2016-01-26 13:00 -04:00
tags: gtd, web-development
---
<div class="articleBody clearfix">
  <p>I’ve been wasting way too much time online lately. So I built a <a href="http://stopwastingtime.online">reminder</a>, and am now redirecting distracting services like Twitter, and Instagram directly to it. Now, if I try to access Twitter, I get a strong prompt to <a href="http://stopwastingtime.online">stopwastingtime.online</a>.</p>

  <img src="<%= base_pather %>/images/posts/swto.jpg" alt="">

<p>I’m a news junkie, and I love learning new things, but the web never sleeps. Professionally speaking, learning is a big part of my job. Keeping up with the latest approaches, frameworks, utilities, etc. that make up the world of full-stack web development is important—<strong>but it never stops</strong>. </p>

READMORE

<p>The pace of change is relentless, broad, and demanding. </p>

<blockquote><p>Yes, I want to read about how you’re using <a href="https://github.com/gulpjs/gulp">Gulp</a> and test-driven-development to improve your local workflow—<strong>just not right now</strong>. </p></blockquote>

<p>It can also be difficult to pull the signal from the noise on services like Twitter.</p>

<blockquote><p>Yes, I’m interested in reading your research on optimizing page speed—<strong>no, I don’t want to see a photo of your lunch</strong>.</p>
</blockquote>

<p><a href="http://www.wired.com/2010/05/ff_nicholas_carr/all/1">Research</a> has shown that the type of tiny, never ending interruptions the modern web imposes on us through services like Twitter, Instagram, and Facebook are rewriting our brains. We&#8217;re wired for distractions—it&#8217;s an evolutionary adaptation from when noticing things like a twig snapping in the distance could save your life. Today, every little Tweet, cat photo, or Facebook poll, taps into that same evolutionary mechanism—delivering a nice shot of dopamine to keep you coming back, and undermining your ability to focus, ignore irrelevant information, process past experiences, and get stuff done.</p>

<p>I need to firewall off most of my day from these types of distractions. So I built <a href="http://stopwastingtime.online">an online reminder</a> and am now redirecting all the above services directly to it. So if I try to open up Twitter, I get an immediate reminder to <a href="http://stopwastingtime.online">stopwastingtime.online</a>. </p>

<p>Rather than mucking about with handling https:// requests via the local hosts file, I’m using this simple <a href="https://github.com/sjmulder/urlrewrite-safari">Safari extension</a> to handle all the redirects—there’s also <a href="https://chrome.google.com/webstore/detail/switcheroo-redirector/cnmciclhnghalnpfhhleggldniplelbg?hl=en">one for chrome</a> if that’s your thing.</p>
</div>
