<footer class="footer clearfix">
	<div class="contact">
		<p class="details">The Distress Signal is the personal blog of Bryan Schuetz. Bryan has been complaining on the Internet since 1985. If you'd like to get in touch with Bryan, you can find him <a href="mailto:bschuetzATgmail.com">here</a> and <a href="http://twitter.com/bryanschuetz">here</a>.</p>
	</div>
	<div class="links">
		<ul class="clearfix">
			<li class="details"><a href="/archives.html">Archive</a></li>
			<li class="details"><a href="/feed.rss">RSS</a></li>
			<li class="details"><a href="mailto:bschuetzATgmail.com">Contact</a></li>
		</ul>
	</div>
</footer>