<footer class="footer clearfix">
	<div class="contact">
		<p class="details">The Distress Signal is the personal blog of <a class="h-card" href="http://distresssignal.org">Bryan Schuetz</a>. Bryan has been complaining on the Internet since the 90s. If you'd like to get in touch with Bryan, you can <a href="mailto:bschuetz@gmail.com">mail</a> him or find him on <a href="http://twitter.com/bryanschuetz">twitter</a>.</p>
	</div>
	<div class="links">
		<ul class="clearfix">
			<li class="details"><a href="/archives.html">Archive</a></li>
			<li class="details"><a href="/rss.rss">RSS</a></li>
			<li class="details"><a href="mailto:bschuetzATgmail.com">Contact</a></li>
		</ul>
	</div>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7184392-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</footer>