<nav class="clearfix">
          <span class="navLinks details"><a rel="me" href="http://twitter.com/bryanschuetz"><i class="ss-icon ss-social-circle">&#xF611;</i>Twitter</a><a href="/rss.rss"><i class="ss-icon ss-social-circle">&#xE310;</i>RSS</a><a rel="me" class="last" href="mailto:bschuetz@gmail.com"><i class="ss-icon ss-social-circle">&#x2709;</i>Contact</a></span>
</nav>