<nav class="clearfix">
          <span class="navLinks details"><a href="http://twitter.com/bryanschuetz"><i class="ss-icon ss-social-circle">twitter</i>Twitter</a><a href="/feed.rss"><i class="ss-icon ss-social-circle">rss</i>RSS</a><a class="last" href="mailto:bschuetzATgmail.com"><i class="ss-icon ss-social-circle">email</i>Contact</a></span>
</nav>